<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>sgp</display-name>
	
	<servlet>
		<servlet-name>ListerCollaborateursController</servlet-name>
		<servlet-class>dev.sgp.web.ListerCollaborateursController</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EditerCollaborateurController</servlet-name>
		<servlet-class>dev.sgp.web.EditerCollaborateurController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>listerCollaborateurs</display-name>
		<servlet-name>listerCollaborateurs</servlet-name>
		<servlet-class>listerCollaborateurs</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ListerCollaborateursController</servlet-name>
		<url-pattern>/collaborateurs/lister</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EditerCollaborateurController</servlet-name>
		<url-pattern>/collaborateurs/editer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>listerCollaborateurs</servlet-name>
		<url-pattern>/listerCollaborateurs</url-pattern>
	</servlet-mapping>
	
</web-app>
